@charset "UTF-8";

/*
    Paleta de cores:
    VERDE: #49a09d
    LILÃS: #5f2c82
*/

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);

    transition: width .3s, heigh .3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: #5f2c82 url(../imagens/torre.jpg) no-repeat;
    background-size: cover;
    background-position: center left;
    height: 200px;
}

section#login > div#form {
    display: block;
    padding: 10px;   
}

div#form > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#form > p {
    font-size: 0.8em;
}

form > div.campo {
    display: block;
    background-color: #5f2c82;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
}

div.campo > label {
    display: none;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #2d6462;
    color: white;
    border: none;
    border-radius: 5px;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: white;
    color: #2d6462;
    border: 1px solid #49a09d;
    text-decoration: none;
    border-radius: 7px;
    cursor: pointer;
}

form > a.botao:hover {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #6cd3cf;
    color: white;
    border: none;
    border-radius: 5px;
}

form > a.botao > span {
    font-size: 0.8em;
}